[2022-10-04 19:30] atompie commented on #712
One prerequisites that is required the client must be async. We recommend to use internal Tracardi client: `tracardi/service/tracardi_http_client.py`

use example in our code:

[code]

[2022-10-04 19:34] atompie commented on #702
@DawidekZagajnik Could you check if it works for you. I checked it on my side and I see no issue.

[2022-10-04 22:30] atompie opened #718 "API tests for /user/preference"
**Is your feature request related to a problem? Please describe.**
Write API tests for user preference.

[2022-10-06 07:48] atompie opened #720 "Missing documentation for RabbitMQ resource"
**Is your feature request related to a problem? Please describe.**
Add documentation for RabbitMQ resource. Describe how to obtain user, password, what is Virtual Host and connection Timeout.

There is file already created `manual/en/docs/resources/rabbitmq_resource.md` in the https://github.com/Tracardi/tracardi-api repo we only need to add steps that describe how to obtain data for the form.

Th

[2022-10-06 07:51] atompie opened #721 "Missing Salesforce resource documentation"
**Is your feature request related to a problem? Please describe.**
Add documentation for Salesforce resource. Describe how to obtain clientId, clientSecret, subDomain.

There is file already created `manual/en/docs/resources/salesforce_resource.md` in the https://github.com/Tracardi/tracardi-api repo we only need to add steps that describe how to obtain data for the form.

This is the form that ne

[2022-10-06 07:53] atompie opened #722 "Missing zapier resource documentation"
**Is your feature request related to a problem? Please describe.**
Add documentation for Zapier resource. Describe how to open a webhook in zapier that we can send event to.

There is file already created manual/en/docs/resources/zapier_resource.md in the https://github.com/Tracardi/tracardi-api repo we only need to add steps in MD format that describe how to open a webhook.

[2022-10-06 07:54] atompie opened #723 "Missing scheduler documantation"
**Is your feature request related to a problem? Please describe.**
Add scheduler documentation

[2022-10-06 07:55] atompie commented on #714
Done in version 0.7.3

[2022-10-06 07:55] #714 closed

[2022-10-06 07:56] #713 closed

[2022-10-06 08:24] atompie opened #724 "Missing sendgrid resource documentation"
**Is your feature request related to a problem? Please describe.**
Add documentation for SendGrid resource. Describe how to obtain token, etc. You will need to go through the sendgrid.com documentation to find you how to obtain token to authenticate API.

There is file already created `manual/en/docs/resources/sendgrid_resource.md` in the https://github.com/Tracardi/tracardi-api repo we only need

[2022-10-06 08:50] madhavmehndiratta commented on #722
Hi I would like to take up this issue

[2022-10-06 09:05] atompie commented on #722
@madhavmehndiratta Sure go head. If you have any questions do not hesitate to ask.

[2022-10-06 09:08] atompie opened #725 "Missing InfluxDB resource documentation"
__Is your feature request related to a problem? Please describe.__
Add documentation for InfluxDB resource. Describe how to obtain token from https://www.influxdata.com/.

There is file already created manual/en/docs/resources/influxdb_resource.md in the https://github.com/Tracardi/tracardi-api repo we only need to add steps that describe how to obtain the token.

Please find it on the https://www

[2022-10-06 09:21] atompie commented on #714
@ojninja16 I noticed on you profile that you are learning react. Tracardi GUI is in react and maybe you would be interested in this issue: https://github.com/Tracardi/tracardi-gui/issues/203

[2022-10-06 09:42] ojninja16 commented on #714
Yeah I am still, learning though. It's kind a hard!! ...thanks for noticing....yeah sure I will have a look...thank you for bringing it to my notice....

[2022-10-06 12:06] atompie commented on #725
@ojninja16 sure

[2022-10-06 17:36] ojninja16 commented on #725
hi @atompie ...just wanted to make sure, I need to add documentation for **obtaining the token  for authenticating API requests right**??? and one other issue ....This here in the SS there are 2 options for documentation...which one exactly is implemented here......Thanks
![image](https://user-images.githubusercontent.com/98155899/194380824-701e3e45-bb72-4dbb-a192-e4539b5feca2.png)

[2022-10-06 17:53] atompie commented on #725
That's right.

[2022-10-06 17:54] atompie commented on #725
Actually I do not remember. Could you check if there is a difference in authentication?

[2022-10-06 18:00] ojninja16 commented on #725
okay...thanks....I Checked there does not seems to be a difference in the authentication for above two....

[2022-10-06 22:32] atompie commented on #725
@ojninja16 I just moved `manual/en/docs/resources/influxdb_resource.md` to `/docs/resources/influxdb_resource.md` Please update your repo.

[2022-10-07 05:41] ojninja16 commented on #725
Hi @atompie ,I have created a PR for it in tracardi-api repo #158

[2022-10-07 10:33] atompie commented on #725
Implemented in 0.7.3

[2022-10-07 10:33] #725 closed

[2022-10-07 18:12] #704 closed

[2022-10-07 18:46] atompie commented on #388
Done in 0.7.2

[2022-10-07 18:46] #388 closed

[2022-10-07 18:47] #387 closed

[2022-10-09 12:18] atompie opened #726 "Create plugin that joins strings"
**Is your feature request related to a problem? Please describe.**
Plugin that joins array referenced in plugin config. This plugin is very simple in terms of python. The challange is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/

**Describe the solution you'd like**
User defines in plugin configuration what array he would like to s

[2022-10-09 12:23] atompie opened #727 "Create plugin that concatentates string"
**Is your feature request related to a problem? Please describe.**
Plugin that concatenates referenced strings in plugin config. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/

**Describe the solution you'd like**
User defines in plugin configuration what strings he woul

[2022-10-09 19:37] yk-jp commented on #726
Hi, do you mind me working on this issue?

[2022-10-09 21:43] atom540 commented on #720
can you please assign this task to me?

[2022-10-10 00:04] khadeom commented on #726
Hi, how are the issues assigned to new contributors?

[2022-10-10 05:37] sruthisanthosh1 opened #728 "Remote api call connector issue"
When calling a remote api that return no body using **REMOTE API CALL CONNECTOR**  the plugin fails because it is trying to parse the  response object.
![image](https://user-images.githubusercontent.com/55072791/194803929-111f09fb-ecbd-41bc-9d4a-fbec1363766f.png)

I am testing this with a test url <https://httpbin.org/status/200>
the plugin should not parse the body if the Content-Length is 0

# C

[2022-10-10 10:29] atompie commented on #726
@yk-jp Sure go ahead. If you have any question please join our slack channel (you can find on our README) or you may ask them here.

[2022-10-10 10:38] atompie opened #729 "Twiter plugins that tweets a message build form text template"
**Is your feature request related to a problem? Please describe.**
Create a twitter plugin that connects to twitter API and tweets a message.

**Describe the solution you'd like**
Use the following manuals to create a twitter plugin that tweets a message
* http://docs.tracardi.com/plugins/tutorial/part1/
* http://docs.tracardi.com/plugins/tutorial/part2/
* https://www.mattcrampton.com/blog/step_by

[2022-10-10 10:44] atompie commented on #726
Hey @khadeom. Sorry bu you came second. But I have very similar task that you could take. It is the same level of complexity so I let myself to assign it to you. If this is OK then go ahead an it is your if not then let me know.

Here is the task: https://github.com/Tracardi/tracardi/issues/727

[2022-10-10 10:46] atompie commented on #728
@sruthisanthosh1 Thank you for reporting. I will take care of it.

[2022-10-10 10:57] atompie commented on #720
@atom540 Sure

[2022-10-10 12:31] riccardobucco commented on #727
Can I work on this issue?

[2022-10-10 12:38] khadeom commented on #727
Hi i did not comment on this issue as it was self assigned by Mefpef, now could you assign me this issue?

[2022-10-10 12:39] khadeom commented on #726
Thank you @atompie, i have commented on it now.

[2022-10-10 12:53] The-Debarghya commented on #728
Hey, can you give some context, then I can try this out.

[2022-10-10 13:17] MANISH-LAB commented on #729
assign me this issue.

[2022-10-10 14:49] atompie commented on #727
@khadeom Done

[2022-10-10 14:54] atompie opened #730 "Plugin that returns a substring of a a referenced string"
**Is your feature request related to a problem? Please describe.**
Plugin that substring a referenced strings in plugin config. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like**
User d

[2022-10-10 15:03] atompie opened #731 "Plugin that returns the text similarity"
**Is your feature request related to a problem? Please describe.**
Plugin that finds a text similarity between two strings. This plugin is very simple in terms of python. The challenge is to add it as plugin to Tracardi. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like*

[2022-10-10 15:04] atompie commented on #729
@MANISH-LAB Sorry this one is already assigned maby some of these issues interest you:

* https://github.com/Tracardi/tracardi/issues/730
* https://github.com/Tracardi/tracardi/issues/731

These are very good tasks to start with.

[2022-10-10 15:10] atompie commented on #728
@The-Debarghya Sure, @sruthisanthosh1 reported that when calling an endpoint that returns empty data he encountered an error. He used  https://httpbin.org/status/200 as an URL and it returns Content-type: header text/html and an empty body.

My first guess it that it caught  by

[code]

but response.json is not able to handle empty body. We need to check for empty body.

This task will need for yo

[2022-10-10 15:11] atompie commented on #728
@The-Debarghya I assigned you to the issue. If you do not feel like doing it let me know> I will remove you form it.

[2022-10-10 15:44] khadeom commented on #727
Thanks, atompie
I'm facing an issue while setting up the Python development environment while following the setup tutorial https://docs.tracardi.com/development/python_env/
I have python3.8.0 installed
Please find the error below
[code]
I also tried setting up development environment in wsl2 which gave the following error where I have Python3.8.10 version installed
[code]
could you please help me

[2022-10-10 15:53] atompie opened #732 "Plugin that sorts defined array"
**Is your feature request related to a problem? Please describe.**
Plugin that sorts (ascending, descending) a referenced array in plugin config. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution y

[2022-10-10 15:55] atompie opened #733 "Plugin that sorts (ascending, descending) a referenced dictionary"
**Is your feature request related to a problem? Please describe.**
Plugin that sorts (ascending, descending) a referenced dictionary in plugin config. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solut

[2022-10-10 16:17] atompie commented on #727
@khadeom You need to install python 3.9. Now tracardi need python 3.9.

[code]

[2022-10-10 16:21] atompie commented on #727
@khadeom Sorry for inconvenience. I did not notice that the docs say that you need python3.8 we recently changed it to python 3.9. I have already changed the docs to reflect this.

[2022-10-10 16:28] khadeom commented on #727
Thanks @atompie i will proceed with python 3.9.

[2022-10-10 16:50] sameersecond commented on #733
Hi,
Can I try this out?

[2022-10-10 17:00] tanayseven commented on #732
Will pick this issue up since it is a good first issue. Do I need to know a lot about Tracardi before being able to contribute? Or is basic knowledge and local setup good enough for contributing to this?

[2022-10-10 17:35] atompie commented on #733
@sameersecond sure

[2022-10-10 17:36] atompie commented on #732
@tanayseven You do not have to know much about tracardi if your read the tutorials you should be ready to go.

[2022-10-10 21:09] atompie opened #734 "Telegram plugin"
**Is your feature request related to a problem? Please describe.**
Create telegram bot for Tracardi. This task needs more information to be assigned.

## Links

* https://www.pragnakalp.com/create-telegram-bot-using-python-tutorial-with-examples/

[2022-10-10 21:18] atompie opened #735 "Integrate sms77 as plugin"
**Is your feature request related to a problem? Please describe.**
Code a plugin that sends sms via sms77.io

## Links

* https://www.sms77.io/en/docs/gateway/http-api/

## Additional context
You will need to setup the dev environment. Here is the tutorial how to do it. Also to understand how the plugins work please read http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com

[2022-10-11 03:48] tanayseven commented on #732
Yes, I would like to be assigned. So you're saying I can read the tutorials from the two links you've pasted, right?

[2022-10-11 05:20] MANISH-LAB commented on #732
assign me

[2022-10-11 06:05] yk-jp commented on #726
@atompie
HI, I have a question. Is this input a string, not string list?
I'm confused with delimiter because output is going to be list.
I thought I should use `join` method with delimiter to given list and `str type` is outputted.

[2022-10-11 08:12] yk-jp commented on #726
@atompie
Hi, I have a question. Is the input described above a string, not string list?
I'm confused with delimiter because output is going to be a list.
I thought I should use join method with delimiter to given list and str type is outputted.

[2022-10-11 08:38] MANISH-LAB commented on #730
Assign!!!

[2022-10-11 09:43] #735 closed

[2022-10-11 18:48] atompie opened #739 "Wrtie tests with negative paths for user preferences"
**Is your feature request related to a problem? Please describe.**
Negative tests are missing for user preferences endpoints.

[2022-10-11 21:05] atompie opened #741 "Document Join string list plugin"
**Is your feature request related to a problem? Please describe.**
Please add documentation to Join string list plugin.

![Screenshot from 2022-10-11 23-02-22](https://user-images.githubusercontent.com/16271564/195197838-b07aa29f-6963-4ddc-b78f-ba40aa9a9a1a.png)

The plugin works fine but needs documentation. To do it clone your tracardi-api fork and add file `string_join_action.md` in the tracard

[2022-10-11 21:12] yk-jp commented on #741
@atompie
Hi, assign me this issue please.

[2022-10-11 21:16] atompie commented on #741
This is example docs for the similar plugin (string splitter)

![Screenshot from 2022-10-11 23-15-32](https://user-images.githubusercontent.com/16271564/195199876-d5fc2ce7-c3b4-4dff-825e-cbde706e98ce.png)

[2022-10-11 21:16] atompie commented on #726
Done in 0.7.3

[2022-10-11 21:16] #726 closed

[2022-10-12 05:54] khadeom commented on #727
Hi, I'm following the documentation to set up the developer Environment in windows.
I have Python-3.9.13 installed.
while following the steps mentioned in the docs im getting following error
[code]
I have followed all the steps mentioned in the docs multiple times still getting the error.

[2022-10-12 08:15] atompie opened #742 "Plugin that slices array"
**Is your feature request related to a problem? Please describe.**
Plugin that slice a referenced array in plugin config. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like**
User defines

[2022-10-12 08:16] atompie commented on #727
@riccardobucco Hello if you would like to take a look at this issue then it can be yours. It is very similar to this one.

[2022-10-12 08:18] riccardobucco commented on #727
@atompie Sure, I will work on this, can you please assign it to me?

[2022-10-12 08:21] atompie commented on #727
@riccardobucco Can you comment on this issue: https://github.com/Tracardi/tracardi/issues/742. So I can assign you

[2022-10-12 08:22] riccardobucco commented on #742
Can I work on this?

[2022-10-12 10:50] riccardobucco commented on #742
@atompie Where should it be saved? I mean, in which subfolder of tracardi/process_engine/action/v1? There is no "arrays" subfolder. Maybe inside "operations"?

[2022-10-12 11:07] atompie commented on #742
Arrays fine

[2022-10-12 19:30] atompie opened #743 "Documentation for Sort Dictionary plugin"
**Is your feature request related to a problem? Please describe.**
Plugin has declared documentation `sorted_dict_action` but it is not filled. Please add it in the tracardi-api project in folder: `docs/flow/actions`. See the other files for documentation examples.

![Screenshot from 2022-10-12 21-27-39](https://user-images.githubusercontent.com/16271564/195431349-67803ffa-c660-4764-b5fb-53b041588

[2022-10-12 19:31] atompie commented on #733
@sameersecond The PR was merged. Would you like also to fill the documentation for this plugin. I Created a task for it: https://github.com/Tracardi/tracardi/issues/743

[2022-10-12 19:31] #733 closed

[2022-10-12 19:32] atompie commented on #739
Done in 0.7.2

[2022-10-12 19:32] #739 closed

[2022-10-12 19:49] sameersecond commented on #743
Hey, can I work on this?

[2022-10-13 09:30] atompie commented on #743
@sameersecond Assigned.

[2022-10-13 09:30] atompie commented on #732
@tanayseven This should be enough.

[2022-10-13 10:26] ojninja16 commented on #734
hi @atompie ,I would like to try this....

[2022-10-13 10:27] atompie commented on #734
Ok. I will assign you this task

[2022-10-13 10:28] ojninja16 commented on #716
hi @atompie ,I would do this...

[2022-10-13 18:37] atompie commented on #716
@ojninja16  Thanks. Task assigned.

[2022-10-14 14:37] The-Debarghya commented on #728
I tried but couldn't figure out...you can go ahead.
I'm unassigning myself.

[2022-10-14 14:44] CypherpunkSamurai commented on #717
Hello @atompie,

I would like to contribute to this issue. I had a few questions regarding this:
1. Are we supposed to add the documentation on the form frontend or the docs?

[2022-10-14 15:03] atompie commented on #717
@CypherpunkSamurai this is a resource documentation. Of you fill the MD file it will be added to the form automatically.

[2022-10-15 03:21] madhavmehndiratta commented on #722
The PR has been merged. (https://github.com/Tracardi/tracardi-api/pull/159)
You can close this issue now.

[2022-10-15 07:24] #722 closed

[2022-10-15 07:26] #741 closed

[2022-10-15 07:27] #729 closed

[2022-10-15 09:41] ojninja16 commented on #716
Hi @atompie , I have raised a PR #164 in Tracardi-api repo....

[2022-10-15 10:32] atompie commented on #722
Please find the enclosed PDF with Cluster installation information. If you
would like me to create a kubernetes cluster, I will need access to your DO
account.

Regards
Risto Kowaczewski

On Sat, 15 Oct 2022 at 05:22, Madhav Mehndiratta ***@***.***>
wrote:

[2022-10-16 10:38] madhavmehndiratta commented on #721
Hi, can I work on this?

[2022-10-16 11:01] atompie commented on #721
Yes go ahead @madhavmehndiratta

[2022-10-16 19:01] atompie commented on #712
Hi @detronetdip Are you still up for this task?

[2022-10-16 19:01] atompie commented on #743
Done in 0.7.3

[2022-10-16 19:01] #743 closed

[2022-10-16 19:04] atompie commented on #720
@atom540 Are you still interested in this task?

[2022-10-16 19:09] atompie commented on #716
Done in 0.7.3

[2022-10-16 19:09] #716 closed

[2022-10-16 19:09] atompie commented on #718
Done in 0.7.3

[2022-10-16 19:09] #718 closed

[2022-10-16 20:09] CypherpunkSamurai commented on #717
Ok. I got it. I'll make a draft PR for reviews soon. 👍🏼

[2022-10-16 20:20] CypherpunkSamurai commented on #717
Hello @atompie,
I've made a draft pr at #166.

Please Review Changes :)

[2022-10-16 20:38] atompie commented on #717
@CypherpunkSamurai  Thanks merged in version 0.7.3.

[2022-10-16 20:38] #717 closed

[2022-10-16 21:40] CypherpunkSamurai commented on #724
Hello @atompie can I work on this as a part of hacktoberfest? :)

[2022-10-16 23:58] devshaki commented on #724
how to create a Token:

Navigate to Settings on the left navigation bar, and then select API Keys.
Click Create API Key.
Give your API key a name.
Select Full Access, Restricted Access, or Billing Access.
If you're selecting Restricted Access, or Billing Access, select the specific permissions to give each category. For more information, see [API key permissions](https://docs.sendgrid.com/ui/accou

[2022-10-17 02:00] owaiskazi19 commented on #728
Hey @atompie! I started looking into this issue and getting the below error for the URL mentioned above( https://httpbin.org/status/200)

<img width="1292" alt="Screen Shot 2022-10-16 at 6 58 55 PM" src="https://user-images.githubusercontent.com/16099877/196073336-224666c8-fb1f-4877-904c-a980dea81805.png">

[2022-10-17 05:42] atompie commented on #728
@owaiskazi19  am not sure if the plug-in is correctly setup. It says that you typed invalid url /proxy/. Could you select a json configuration icon and paste here the Json.

[2022-10-17 06:56] CypherpunkSamurai commented on #724
Thank you @devshaki. I'll wait for confirmation and get coding soon :)

[2022-10-17 06:58] atompie commented on #724
@CypherpunkSamurai sure go ahead

[2022-10-17 09:25] atompie commented on #724
@CypherpunkSamurai PR merged an #hacktoberfest-accepted

[2022-10-17 09:25] #724 closed

[2022-10-17 12:22] CypherpunkSamurai commented on #724
Thanks a lot @atompie @devshaki !! :D

[2022-10-17 14:02] hyprex-deva commented on #720
Can you please assign this task to me.
I would like to do this task as a part of the Hacktoberfest.

[2022-10-17 16:27] hyprex-deva commented on #720
Sir, please can you tell me the context behind the RabbitMQ Setting.
A brief description will be enough.

[2022-10-17 20:10] owaiskazi19 commented on #728
[code]

[2022-10-17 20:16] atompie commented on #728
@owaiskazi19 I think there are the following issues with the config:
Endpoint should be
[code]

No need for the url. The resource `test` that you have set here

[code]

Should have the following set-up:
[code]
Check if in the resources you have:
![Screenshot from 2022-10-17 22-15-40](https://user-images.githubusercontent.com/16271564/196274582-771967f8-69e2-40c5-979e-d1eff6713f4c.png)

[2022-10-17 20:42] owaiskazi19 commented on #728
That worked. Thanks!
I'm getting a successful API call here and not issue mentioned above though

<img width="1462" alt="Screen Shot 2022-10-17 at 1 41 48 PM" src="https://user-images.githubusercontent.com/16099877/196279133-8e7aa211-e410-4dc4-a872-867c04e9db15.png">

[2022-10-18 13:48] hyprex-deva commented on #720
The repo link which you have mentioned is a different repo.
So I have to make the documentation here : https://github.com/Tracardi/tracardi-api/blob/master/docs/resources/rabbitmq_resource.md
Then I have to fork that repo and do a Pull Request, Correct me if am wrong.

[2022-10-18 13:51] atompie commented on #720
@hyprex-deva yes you are right.

[2022-10-18 15:02] hyprex-deva commented on #720
I created a PR on that repo, please look into that.
If its correct, I would like to work in different issue.

[2022-10-18 23:38] bobsburgers opened #744 "Plugin: Rate limit"
**Is your feature request related to a problem? Please describe.**
I need to be able to do events only at a certain rate. Per profile, per resource.

**Describe the solution you'd like**
X # of times over Y time period. Like 1 every 30 seconds or 100 every day.

**Describe alternatives you've considered**
Just doing a counter in redis with a timeout. or dumping to a db and query how many already d

[2022-10-19 08:32] atompie commented on #732
@tanayseven Do you need some help with this issue?

[2022-10-19 08:36] #720 closed

[2022-10-19 08:37] atompie commented on #720
@hyprex-deva Would you like to try to code a tracardi plugin? https://github.com/Tracardi/tracardi/issues/727

[2022-10-19 08:39] atompie commented on #721
Done in 0.7.3

[2022-10-19 08:39] #721 closed

[2022-10-19 08:41] tanayseven commented on #732
Not right now, thanks. I'll let you know if I need any help

[2022-10-19 09:08] hyprex-deva commented on #720
Am not exactly sure if I could write a code to a plugin, if any of the documentation issues are there I would like to solve that before.

[2022-10-19 09:21] hyprex-deva commented on #723
Is this issue under Hacktoberfest ?
If yes, I want to work on this issue.

[2022-10-19 09:43] atompie commented on #723
@hyprex-deva It is not - it requires some deep tracardi knowledge and I must do it myself

[2022-10-19 09:44] atompie commented on #720
@hyprex-deva Sure no problem.

[2022-10-19 10:14] atompie commented on #720
@hyprex-deva If you are looking for documentation issues you can take a look here. https://github.com/Tracardi/tracardi/issues/460

[2022-10-19 10:18] hyprex-deva commented on #460
Ok I will try to do this, if I face some difficulty I will ask here.
Thank you.

[2022-10-19 14:11] hyprex-deva commented on #460
![docker](https://user-images.githubusercontent.com/96543076/196715329-3710182c-b1ac-43e3-accd-f5f7a65b787a.jpg)

Can you help me with this, am not able to use Docker, and what to do next to be able to use Tracardi

[2022-10-19 17:53] Mefpef commented on #728
Hi @owaiskazi19 you are working on this issue right now ?

[2022-10-19 17:54] owaiskazi19 commented on #728
Hey @Mefpef! Yes, I am.

[2022-10-20 15:40] atompie opened #746 "Intercom plugin"
**Feature description**
----------------------------------------------------------------------------------------
We would like to integrate intercom as Tracardi Plugin. [Intercom.com ](https://www.intercom.com) is a Customer Communications Platform. It shows you who is using your product or website and makes it easy to personally communicate with them with targeted content, behavior-driven message

[2022-10-20 15:58] atompie opened #747 "Livechat plugin"
Feature description
---------------------------------

We would like to integrate LiveChat as Tracardi Plugin.

 Links
-----------------

* https://www.livechat.com/help/setting-up-livechat-on-your-website/
* https://developers.livechat.com/docs/extending-chat-widget/javascript-api/

[2022-10-20 17:03] tanayseven commented on #732
A bit busy for a couple of days, I'll continue working on this tomorrow

[2022-10-20 19:32] atompie commented on #747
Done in 0.7.3

[2022-10-20 19:32] #747 closed

[2022-10-21 10:51] atompie opened #748 "Wrong session duration in session details"
**Is your feature request related to a problem? Please describe.**
Click on session details and the session duration is wrong:

[code]

When it was 0.

[2022-10-22 06:53] atompie commented on #460
What platform are you on @hyprex-deva?

[2022-10-22 06:54] atompie commented on #460
@hyprex-deva what kind of issues you have with docker?

[2022-10-25 07:38] atompie opened #749 "Base64 decoder plugin"
**Is your feature request related to a problem? Please describe.**
Plugin that decodes base64 string. This plugin is very simple in terms of python. The challenge is to add it as plugin to Tracardi. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like**
User defines in plug

[2022-10-25 07:40] atompie opened #750 "Base64 string encoder plugin"
**Is your feature request related to a problem? Please describe.**
Plugin that encodes base64 string. This plugin is very simple in terms of python. The challenge is to add it as plugin to Tracardi. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like**
User defines in plug

[2022-10-25 12:30] knittl commented on #750
I should be able to implement this feature and #749. I'll start working on it, can you assign me both tickets?

[2022-10-25 12:47] Ananya2003Gupta commented on #749
Can I work on this issue ?

[2022-10-25 13:40] knittl commented on #750
I have the first draft of both plugins, but I'm unable to get the plugin to show up in the tracardi-gui. I followed the steps at <http://docs.tracardi.com/plugins/tutorial/part1/>, but somehow the new plugin doesn't end up being visible for the API/UI. I see that the API depends on the Git version of the library, so it is clear that it will not see local development. Is there a switch to enable so

[2022-10-25 14:27] knittl commented on #750
Nevermind. I have figured it out; added to the wrong list :-/ Still need to refresh dependencies and restart API, but this is mentioned in the tutorial.

[2022-10-25 15:23] knittl commented on #749
I started work in progress for #750 and #749, I hope I'm on the right track: https://github.com/knittl/tracardi/commits/base64-actions

PR will follow later this evening or tomorrow :)

[2022-10-25 18:02] atompie commented on #749
Sorry @Ananya2003Gupta this task is already assigned you you like me to find you something similar?

[2022-10-25 18:03] atompie commented on #749
@knittl you are on the right track. Code looks good. :)

[2022-10-25 18:05] Ananya2003Gupta commented on #749
Okay , no worries.
I am new to plugins, so maybe another good first issue.

[2022-10-25 22:36] knittl commented on #750
I see that the documentation for the plugins/actions is done in the API project. How should I link the PRs in the API and the library project? Or should I first wait for #750 and #749 to be merged?

[2022-10-26 07:17] atompie commented on #750
@knittl please link it to the PR.

[2022-10-26 19:31] atompie opened #755 "Plugin that converts list of object into dictionary"
**Is your feature request related to a problem? Please describe.**
When using reports from elastic search all aggregation are returned in this manner:

[code]

Key is the value we are aggregation (it is unique). "doc_count" is the aggregation value.

We need a plugin that would convert this array into a dictionary like this.

[code]

[2022-10-26 19:35] atompie commented on #755
@Ananya2003Gupta Would you like to take a look at this task.

[2022-10-27 07:26] mastdev commented on #755
Hi @atompie, I would like to try my hands on this issue. Can you assign it to me?

[2022-10-27 07:59] Ananya2003Gupta commented on #755
I am working on another issue right now. So, I think @mastdev can take this one : )

[2022-10-27 11:25] atompie commented on #755
@mastdev here you go. assigned.

[2022-10-27 19:26] #749 closed

[2022-10-27 19:27] #750 closed

[2022-10-28 09:37] atompie commented on #712
@knittl Would you like to take care of this task?

[2022-10-28 09:44] atompie opened #756 "Missing documentation for base64 encoder decoder"
Describe the bug
------------------------

The documentations is in the docs but the spec.manual does not point to it.

[2022-10-28 09:46] atompie opened #757 "Configure JSON editor to use code completion and highlighting"
**Is your feature request related to a problem? Please describe.**
Reconfigure plugins that use JsonEditor.

[2022-10-28 09:46] atompie commented on #746
Done in 0.7.3

[2022-10-28 09:46] #746 closed

[2022-10-29 07:21] atompie opened #758 "Move chat widgets to microservice"

[2022-10-29 07:36] knittl commented on #712
@atompie sure, sounds interesting. I'll see what I can do. But I won't be able to have it ready before hacktober ends. Still want to give it a shot :)

[2022-10-29 07:39] atompie commented on #712
@knittl perfect. No hurry. If you want to contribute to tracardi after hacktoberfest you are welcome. BTW This client will become a part of another plug-in for managing GitHub issues with tracardi. So there will be more tasks if you want to contribute.

[2022-10-29 16:59] tanayseven commented on #732
I had a few doubts around the implementation, but I thought raising a pull request would be the best way to get them cleared. So can you review the pull request and then we can discuss whatever we're missing?

[2022-10-29 17:03] tanayseven commented on #732
This PR is by no means complete and I've raised it only to make the discussion easier from my side

[2022-10-29 21:02] atompie commented on #732
@tanayseven sure. I am away from my keyboard till Monday. As soon as I get back I will take a look at your PR.

[2022-10-30 12:10] tanayseven commented on #732
Made the changes that you asked me for. But I have one doubt, I've posted a comment on the PR

[2022-10-30 14:14] patromi commented on #584
I take it!

[2022-10-30 18:16] atompie opened #760 "Connect consents with profile fields"
Saving profile fields is a subjec to user consent.

[2022-10-30 18:40] atompie opened #761 "Add consents to plug-ins"
Add general consent setting to plug-ins. Settings should define what consent is needed and what to do if there is no consent.

[2022-10-31 19:16] knittl commented on #712
@atompie I have taken a first cursory look at this and was able to implement a simple plugin to query the issues of a repository. However this resulted in several questions:

* There's already the "Remote API call" plugin (connectors/api_call) which seems to be able to do this already. Without headers for public repositories and with for private repositories with a header. I assume the GitHub plug

[2022-10-31 20:27] atompie commented on #712
@knittl

1. Yes we create separate plugins for less technical user to use it. Basically you can use Remote API to call many services but 80% of the users are not very technical savvy to use it out of the box.

2. We usually reuse the code that is in tracardi library (outside plugins). We do not mix code between plugins or inherit for other plugins because plugins can be moved to microservices so i

[2022-11-01 15:01] atompie opened #764 "Make redirect plug-in."

[2022-11-01 21:22] atompie opened #765 "Plugin that checks if two arrays are different."
**Is your feature request related to a problem? Please describe.**
Plugin that checks if two arrays are different.. This plugin is very simple in terms of python. The challenge is to add it as plugin. This is also very simple if you read this http://docs.tracardi.com/plugins/tutorial/part1/ and http://docs.tracardi.com/plugins/tutorial/part2

**Describe the solution you'd like**
User defines in pl

[2022-11-02 11:47] atompie opened #766 "Add time zone to profile metadata"
**Is your feature request related to a problem? Please describe.**
Add last visit  time zone to profile

[2022-11-02 21:09] knittl commented on #712
@atompie Hi, you find the very first draft here: https://github.com/knittl/tracardi/commits/github-plugin-issues. Currently, the issues for a repo can be listed and details for a single issue can be queried.

There are a few things I'm unsure about, especially configuration (e.g. "should owner/repo be part of resource or not" and "should PAT be a separate resource?").

Let me know if the code is h

[2022-11-03 06:58] atompie opened #767 "Integrate social scanner"

[2022-11-04 08:53] atompie commented on #766
Done in 0.7.3

[2022-11-04 08:53] #766 closed

[2022-11-04 08:55] #731 closed

[2022-11-04 08:55] atompie commented on #731
Done in 0.7.3

[2022-11-04 09:04] atompie commented on #712
@knittl The code is looking perfect :)

`Should owner/repo be part of resource?`

Well I think repo could be selected inside the plugin. If there is a method in the github API to list repos for one owner then I could show you how to get a list of repos from remote API into the plugin select field. As to owner I thin this should be part of resource.

I see it this way.

Resource:

1. API_KEY
3. Own

[2022-11-04 16:08] patromi opened #768 "UnicodeDecodeError when I install a requirements."
On some devices, when I try to install dependencies, I get a Unicode Error.

Collecting git+https://github.com/Tracardi/tracardi.git@master (from -r app\\requirements.txt (line 14))
  Cloning https://github.com/Tracardi/tracardi.git (to revision master) to c:\users\admin\appdata\local\temp\pip-req-build-iiw0mxc1
  Running command git clone --filter=blob:none --quiet https://github.com/Tracardi/tra

[2022-11-04 16:10] patromi commented on #768
https://github.com/Tracardi/tracardi/pull/769

[2022-11-05 03:52] atompie commented on #765
@patromi would you like to do this plug-in ?

[2022-11-05 03:53] atompie opened #770 "Add logging level to WF"

[2022-11-05 12:18] patromi commented on #765
@atompie Sure :)

[2022-11-06 11:16] atompie opened #771 "Make a set of plug-ins for open ai"
**Is your feature request related to a problem? Please describe.**

Make a set of plug-ins for open ai API - https://beta.openai.com/docs/api-reference/models

[2022-11-06 11:38] #768 closed

[2022-11-06 12:18] atompie opened #772 "Make a set of plugins for https://goose.ai/"
**Is your feature request related to a problem? Please describe.**
https://goose.ai/

[2022-11-07 15:34] #710 closed

[2022-11-07 20:15] knittl commented on #712
@atompie PAT = "Personal Acces Token"; the tokens created by GitHub to enable APIs to impersonate your user.

Why I'm asking about bundling the owner with the API key (the "PAT") is the following: the PAT is bound to a user, not a repo owner. To give an example: you could create a PAT for user/owner "atompie". Since user "atompie" has access to org "Tracardi" this token will allow requests to inte

[2022-11-07 21:13] atompie commented on #711
done in 0.7.3

[2022-11-07 21:13] #711 closed

[2022-11-07 22:33] atompie commented on #712
@knittl Ok Now I think I have the whole picture. I think PAT should be in resource (separate). And with plugin we can select the repos. First make it to be typed in by user then we will replace it with the select populated with the data form github.

[2022-11-09 19:47] atompie commented on #758
Done in 0.7.3

[2022-11-09 19:47] #758 closed

[2022-11-09 19:49] atompie commented on #742
@riccardobucco Hi are you working on this issue?

[2022-11-09 19:49] atompie commented on #730
@MANISH-LAB Are you working on this issue?

[2022-11-09 19:52] atompie commented on #686
Done in 0.7.3

[2022-11-09 19:52] #686 closed

[2022-11-09 20:03] atompie commented on #650
This feature was disabled as when errors where connected with the missing index or system no being installed we could not save it in tracardi as it was not working. Reporting should be to some other system.

[2022-11-09 20:06] atompie commented on #178
Will not be done.

[2022-11-09 20:06] #178 closed

[2022-11-09 20:07] atompie commented on #161
Segmentation is done differently right now. Closing. This will not be done.

[2022-11-09 20:07] #161 closed

[2022-11-09 20:09] atompie commented on #480
We do it only per 1 request. I meant collector that collects events form many requests.

[2022-11-09 20:18] atompie commented on #723
Done in 0.7.3

[2022-11-09 20:18] #723 closed

[2022-11-09 20:19] atompie commented on #756
Done in 0.7.3.

[2022-11-09 20:19] #756 closed

[2022-11-09 20:21] atompie commented on #369
Done

[2022-11-09 20:21] #369 closed

[2022-11-10 07:42] atompie opened #775 "Add debugging and loggin level to workflow"

[2022-11-10 08:41] atompie opened #776 "Plugin for GA4"
**Is your feature request related to a problem? Please describe.**
https://stackoverflow.com/questions/65286593/google-analytics-v4-custom-events-server-side
https://developers.google.com/analytics/devguides/collection/protocol/ga4/

[2022-11-10 08:47] atompie commented on #56
Done in 0.7.3 - But it is UA plugin not GA4.

[2022-11-10 08:47] #56 closed

[2022-11-10 09:42] atompie commented on #775
Added fields to the index. Moving to next version.

[2022-11-10 09:42] atompie commented on #748
Can not confirm

[2022-11-10 09:42] #748 closed

[2022-11-10 19:48] atompie commented on #728
Done in 0.7.3

[2022-11-10 19:48] #728 closed

[2022-11-11 11:05] atompie opened #777 "Add to GUI - Delete version button"
**Is your feature request related to a problem? Please describe.**
Add this button and delete in background worker.

[2022-11-11 13:17] atompie opened #778 "Plugin: Get number of sessions and sum of sessions duration"

[2022-11-11 14:52] atompie opened #779 "Plugin: Merge data"
**Is your feature request related to a problem? Please describe.**
The same plugin as copy data but it merges data instead of coping it.

Lets assume that our profile has the following traits
[code]

We define:

[code]

and get

[code]

[2022-11-11 16:20] atompie opened #780 "Extend plugin upsert entity to return entity"
**Is your feature request related to a problem? Please describe.**
This plugin should return the same payload as load entity.

It should also merge properties and traits not override it

[2022-11-11 17:35] #780 closed

[2022-11-12 17:19] atompie commented on #744
The docs for the forthcoming plugin:

https://github.com/Tracardi/tracardi-api/blob/master/docs/flow/actions/limiter_action.md

[2022-11-12 17:46] atompie commented on #779
Plugin docs: https://github.com/Tracardi/tracardi-api/blob/master/docs/flow/actions/marge_data_action.md

[2022-11-12 19:11] #744 closed

[2022-11-13 17:51] atompie opened #781 "Delayed event does not change properties"
Describe the bug
------------------------
Data references are not changed in delayed event.

[2022-11-13 18:37] atompie opened #782 "Default MQTT port"
**Is your feature request related to a problem? Please describe.**
Set port on mqtt resource to 1883

[2022-11-13 22:26] atompie opened #783 "Change conditional values to be saved in redis"
**Is your feature request related to a problem? Please describe.**
Now they are saved in ES but redis is a better place. It has build in TTL so should work much better and faster.

[2022-11-13 23:12] atompie opened #784 "Merging does not move the event history"
Describe the bug
------------------------
When profile is merged then the events and session did not change the profile id so they stay with the old profile

To Reproduce
------------------------
Merge a profile with some history

Expected behavior
----------------------------
Copy all events form old profile with the new profile id. Leave the old events and sessions intact.

[2022-11-16 20:35] atompie opened #785 "Wrong session duration in Session timeline."
Describe the bug
------------------------
Wrong session duration in Session timeline.

To Reproduce
------------------------

Steps to reproduce the behavior:
1. Go to Session timeline
2. Compare it with last session duration

![Screenshot from 2022-11-16 19-17-08](https://user-images.githubusercontent.com/16271564/202288341-e37bfcf6-d1cc-497c-9395-7ec9bd6c4369.png)

[2022-11-16 20:37] atompie opened #786 "New start node for segmentation"
**Is your feature request related to a problem? Please describe.**
The start node for segmentation should not be the node from event processing workflow.

[2022-11-17 09:58] atompie opened #787 "Click though bridge"
**Is your feature request related to a problem? Please describe.**

Bridge that redirects clicks to its defined destination and registers it in Tracardi. Data saved both in ES and redis.

[2022-11-17 10:06] atompie opened #788 "Redo Discord plugin to use resources."
**Is your feature request related to a problem? Please describe.**
Now the webhook is in the plugin . Make it into resource.

[2022-11-17 15:41] atompie opened #789 "Routing rules shoul be redone"
**Is your feature request related to a problem? Please describe.**
Now rules a very unclear. They require a lot of clicking and filling data (e.g. Name, Desc) that is unnecessary.

Rules should be part of workflow as nessted object with a set of event-types.

[2022-11-18 14:51] #785 closed

[2022-11-18 14:51] atompie commented on #786
Done in 0.7.3

[2022-11-18 14:51] #786 closed

[2022-11-18 14:51] #559 closed

[2022-11-18 15:00] #781 closed

[2022-11-18 15:05] #782 closed

[2022-11-20 14:24] atompie opened #791 "DotAccessor can not habdle not string values."
Describe the bug
------------------------

![Screenshot from 2022-11-20 15-21-11](https://user-images.githubusercontent.com/16271564/202907651-6fb726e3-9d82-489c-9a51-b85e7b8bfc01.png)
![image](https://user-images.githubusercontent.com/16271564/202907672-785beb44-5db3-4128-8956-60e4169a23f8.png)

[2022-11-24 22:09] atompie commented on #776
Done in 0.7.4

[2022-11-24 22:09] #776 closed

[2022-11-24 22:10] atompie commented on #787
Done in 0.7.4

[2022-11-24 22:10] #787 closed

[2022-11-24 22:10] atompie commented on #764
Done in 0.7.4

[2022-11-24 22:10] #764 closed